@import url('../globals.css');

.board {
  width: min-content;
  height: min-content;
  display: flex;
  padding: 1vh;
  border-width: 15px;
  border-style: outset;
  border-color: seagreen;
  background-color: darkseagreen;
}