@import url('../globals.css');

.name-box {
  border: 1px solid black;
  padding: 1vh;
  width: var(--name-box-width);
  height: var(--name-box-height);
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.avatar-container {
  width: var(--avatar-width);
  height: var(--avatar-height);
  border-width: 5px;
  border-color: brown;
  border-style: double;
}

.avatar {
  width: var(--avatar-width);
  height: var(--avatar-height);
}