@import url('../globals.css');

.name-box {
  border: var(--name-box-border-width) solid black;
  padding: var(--name-box-vert-padding) var(--name-box-horiz-padding);
  width: var(--name-box-width);
  min-width: var(--name-box-min-width);
  height: var(--name-box-height);
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.avatar-container {
  width: var(--avatar-width);
  height: var(--avatar-height);
  border-width: var(--avatar-border-width);
  border-color: brown;
  border-style: double;
}

.avatar {
  width: var(--avatar-width);
  height: var(--avatar-height);
}