@import url('../globals.css');

.piece.player1 .pieceDisc {
  fill: var(--player1-color);
  stroke: var(--player1-color);
}

.piece.player2 .pieceDisc {
  fill: var(--player2-color);
  stroke: var(--player2-color);
}

.piece.selected .pieceDisc {
  fill: var(--selected-color);
  stroke: var(--selected-color);
}

.piece {
  position: relative;
  margin: 5px 5px;
  z-index: 200;
  filter: drop-shadow(3px 4px 5px black);
}

.piece:hover {
  filter: drop-shadow(5px 14px 8px black);
}

.piece-container {
  transform: translateX(25px)
      rotateX(40deg)
      rotateZ(43deg);
  transform-style: preserve-3d;
  border-radius: 32px;
}

.piece:hover .piece-container {
  transform:
    translate3d(0px, -5px, 0px)
    translateX(25px)
    rotateX(40deg)
    rotateZ(43deg);
}