
.piece.player1 .pieceDisc {
  fill: rgb(6, 101, 165);
  stroke: rgb(6, 101, 165);
}

.piece.player2 .pieceDisc {
  fill: rgb(212, 113, 82);
  stroke:rgb(212, 113, 82);
}

.piece.selected .pieceDisc {
  fill: lightgreen;
  stroke: lightgreen;
}

.piece {
  margin: 15px 15px;
  z-index: 200;
}

svg.piece-render {
  filter: drop-shadow(3px 4px 5px black);
}

.piece:hover svg.piece-render {
  filter: drop-shadow(5px 14px 8px black);
}

.piece-container {
  transform: translateX(25px)
      rotateX(40deg)
      rotateZ(43deg);
  transform-style: preserve-3d;
  border-radius: 32px;
}

.piece:hover .piece-container {
  transform:
    translate3d(0px, -5px, 0px)
    translateX(25px)
    rotateX(40deg)
    rotateZ(43deg);
}