@import url(../globals.css);

.pieces-box {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  height: var(--pieces-box-height);
  min-height: var(--pieces-box-min-height);
  width: var(--pieces-box-width);
  min-width: var(--pieces-box-min-width);
  flex-flow: row wrap-reverse;
  overflow: hidden;
  padding: var(--pieces-box-vert-padding) var(--pieces-box-horiz-padding);
}

.pieces-box.player1.start {
  justify-content: flex-end;
}

.pieces-box.player2.start {
  justify-content: flex-start;
}

.pieces-box.start {
  border: solid var(--pieces-box-border-width) green;
}

.pieces-box.finish {
  border: dotted var(--pieces-box-border-width) black;
}