@import url('../globals.css');

.space {
  position: relative;
  width: var(--space-width);
  height: var(--space-height);
  border: var(--space-border-width) solid var(--space-border-color);
  box-shadow:inset 1px 4px 4px 3px #899599;
	background:linear-gradient(to bottom, #ededed 10%, #bab1ba 100%);
	background-color:#ededed;
  overflow: visible;
}

.space .piece {
  top: 12.5%;
  left: 12.5%;
  position: absolute;
  z-index: 300;
}

.space.gap {
  background-color: transparent;
  background: transparent;
  border: none;
  box-shadow: none;
}

.pos-top {
  border-top: calc(2 * var(--space-border-width)) solid var(--space-border-color);
}

.pos-left {
  border-left: calc(2 * var(--space-border-width)) solid var(--space-border-color);
}

.pos-left.gap {
  border-left: var(--space-border-width) solid var(--space-border-color) !important;
  padding-right: calc(2 * var(--space-border-width))
}

.pos-right {
  border-right: calc(2 * var(--space-border-width)) solid var(--space-border-color);
}

.pos-right.gap {
  border-right: var(--space-border-width) solid var(--space-border-color) !important;
  padding-left: calc(2 * var(--space-border-width))
}

.pos-top.gap {
  border-top: var(--space-border-width) solid var(--space-border-color) !important;
  padding-bottom: var(--space-border-width)
}

.pos-bottom.gap {
  border-bottom: var(--space-border-width) solid var(--space-border-color) !important;
  padding-top: var(--space-border-width)
}

.pos-bottom {
  border-bottom: calc(2 * var(--space-border-width)) solid var(--space-border-color);
}