:root {
    --color-p1: #2E51A2;	/* Main Primary color */
    --color-p1-lighter: #708BC8;
    --color-p1-light: #4968AF;
    --color-p1-dark: #173A8B;
    --color-p1-darker: #0C2A6E;

    --color-rosette: #E22D4E;	/* Main Secondary color (1) */
    --color-rosette-lighter: #F57C91;
    --color-rosette-light: #F0536F;
    --color-rosette-dark: #C30D2D;
    --color-rosette-darker: #9A011C;

    --color-other: #5BD02A;	/* Main Secondary color (2) */
    --color-other-lighter: #98E875;
    --color-other-light: #78DD4C;
    --color-other-dark: #3EB30C;
    --color-other-darker: #2B8D01;

    --color-p2: #F1B130;	/* Main Complement color */
    --color-p2-lighter: #FFD581;
    --color-p2-light: #FFC758;
    --color-p2-dark: #D08F0E;
    --color-p2-darker: #A46E01;

    --color-mid-lane: rgb(127,127,127);
    --color-mid-move-candidate: rgb(96, 96, 96);
    --space-border-color: rgb(0,0,0);
    --space-border-width: 4px;

    --pos-space-left-p1: 25;

    --space-width: 93px;
    --space-height: 93px;

    --space-total-height: calc(var(--space-height) + var(--space-border-width));

    --row1-top: 0px;
    --row2-top: calc(var(--row1-top) + var(--space-total-height));
    --row3-top: calc(var(--row1-top) + (2 * var(--space-total-height)));
    --row4-top: calc(var(--row1-top) + (3 * var(--space-total-height)));
    --row5-top: calc(var(--row1-top) + (4 * var(--space-total-height)));
    --row6-top: calc(var(--row1-top) + (5 * var(--space-total-height)));
    --row7-top: calc(var(--row1-top) + (6 * var(--space-total-height)));
    --row8-top: calc(var(--row1-top) + (7 * var(--space-total-height)));

    --col1-left: 0px;
    --col2-left: calc(var(--col1-left) + var(--space-total-height));
    --col3-left: calc(var(--col1-left) + (2 * var(--space-total-height)));

    --board-width: calc((3 * var(--space-total-height)) + var(--space-border-width));
    --board-height: calc((8 * var(--space-total-height)) + var(--space-border-width));

    --board-horiz-padding: 50px;

    --startarea-top: var(--row5-top);
    --startarea-left: calc(var(--board-horiz-padding) + calc(2 * var(--space-border-width)) + 4px + var(--space-width));
    
    --finisharea-top: var(--row6-top);
    --finisharea-left: var(--startarea-left);

    --z-layer-board: 5;
    --z-layer-pieces: calc(var(--z-layer-board) + 5); /* should always be on top */
    --z-layer-under-board: calc(var(--z-layer-board) - 5);

    --piece-radius: 25px;
    --piece-stroke-width: 1px;
    --piece-stack-offset: calc(3 * var(--piece-stroke-width));
}

.piece {
    filter: drop-shadow(3px 3px 3px #000);
    stroke-width: var(--piece-stroke-width);
    stroke: black;
}

.p1 .piece {
    fill: var(--color-p1-light);
}
.p2 .piece {
    fill: var(--color-p2-darker);
}
.piece .pip {
    fill: white;
}
.die .pip {
    fill: white;
    stroke: none;
}
.die .sides {
    stroke: darkgray;
    fill: black;
    stroke-width: 0.5;
}

.dieHolder > div {
    position: relative;
    width: 110px;
    height: 110px;
}

.dieHolder .die {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 110px;
    height: 110px;
}

.dieHolder > .r120, .dieHolder > .r240 {
    transform-origin: 50px 57px;
}

.dieHolder > .r120 {
    transform: rotate(120deg);
}
.dieHolder > .r240 {
    transform: rotate(240deg);
}

html {
    background-color: whitesmoke;
}

body {
    margin: 25px;
    text-align: center;
    overflow: hidden;
}

body > div {
    background-color: lightgray;
    width: max-content;
    border: 2px solid black;
    margin: 0 auto;
    padding: 10px 50px;
}

h1 {
    text-align: center;
}

#titleArea {
    text-align: center;
}

#turnIndicator.p1 {
    color: var(--color-p1-dark);
}

#turnIndicator.p2 {
    color: var(--color-p2-dark);
}

#turnIndicator {
    text-align: center;
}

#boardContainer {
    padding: 0 var(--board-horiz-padding);
    z-index: var(--z-layer-board);
}

#board {
    width: var(--board-width);
    height: var(--board-height);
    position: relative;
    z-index: var(--z-layer-board);
}

.space {
    width: var(--space-width);
    height: var(--space-height);
    border: var(--space-border-width) var(--space-border-color) solid;
    background-color: var(--color-mid-lane);
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
}

.space.r1 {
    top: var(--row1-top);
}
.space.r2 {
    top: var(--row2-top);
}
.space.r3 {
    top: var(--row3-top);
}
.space.r4 {
    top: var(--row4-top);
}
.space.r5 {
    top: var(--row5-top);
}
.space.r6 {
    top: var(--row6-top);
}
.space.r7 {
    top: var(--row7-top);
}
.space.r8 {
    top: var(--row8-top);
}

.space.p1 {
    background-color: var(--color-p1-lighter);
}
.space.c1 {
    left: var(--col1-left);
}
.space.c2 {
    left: var(--col2-left);
}
.space.p2 {
    background-color: var(--color-p2-lighter);
}
.space.c3 {
    left: var(--col3-left);
}

.space.rosette {
    background-image: url('/images/bg/rosette.svg');
}

.space.eyes {
    background-image: url('/images/bg/eyes0.svg');
}
.space.eyes.p2 {
    background-image: url('/images/bg/eyes1.svg');
}

.space.bigfivedots {
    background-image: url('/images/bg/bigfivedots.svg');
}

.space.maze {
    background-image: url('/images/bg/maze.svg');
}

.space.fourfivedots {
    background-image: url('/images/bg/fourfivedots.svg');
}

.space.middlefivedots {
    background-image: url('/images/bg/middlefivedots.svg');
}

#gameArea {
    text-align: center;
    position: relative;
    padding: 50px 0 0 0;
    height: max-content;
}

#gameArea > div {
    display: inline-block;
}

.playerArea {
    vertical-align: top;
    position: relative;
    height: var(--board-height);
    width: calc(var(--space-total-height) + var(--space-border-width));
    z-index: var(--z-layer-bottom);
}

.space {
    display: flex;
    align-items: center;
    justify-content: center;
}

.space.bucket {
    background: unset;
    border: unset;
    min-width: calc(var(--space-width) + 2 * var(--space-border-width));
    width: fit-content;
    height: calc(var(--space-height) + var(--space-border-width));
}

.space.bucket .pieceHolder {
    padding: 0 5px;
}

.space.bucket.c1 {
    justify-content: right;
    flex-direction: row-reverse;
    left: unset;
    right: var(--col3-left);
}

.space.bucket.c3 {
    justify-content: left;
    flex-direction: row;
}

.space.startingArea {
    border-bottom: var(--space-border-color) dashed var(--space-border-width);
}

/* Pieces divs */
.pieceHolder {
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
    z-index: var(--z-layer-pieces);
}

.pieceHolder.ui-draggable-dragging,
.pieceHolder.ur-piece-in-motion { /* keep active piece on top */
    position: absolute;
    z-index: calc(var(--z-layer-pieces) + 5);
}

.pieceHolder.ur-no-moves {
    filter: saturate(30%);
}

#userArea {
    text-align: center;
    margin: 10px;
}

#userArea > div {
    padding: 10px;
}

#diceCup > div {
    display: inline-block;
}

.ur-piece-hover,
.ur-move-target {
    z-index: calc(var(--z-layer-board) - 1); /* just under the space; TODO is this needed? */
}

.ur-piece-hover.ur-action-p1,
.ur-move-target.ur-action-p1 {
    box-shadow: inset 0 0 10px 10px var(--color-p1-dark) !important;
}

.ur-piece-hover.ur-action-p2,
.ur-move-target.ur-action-p2 {
    box-shadow: inset 0 0 10px 10px var(--color-p2-dark) !important;
}

.ur-legal-move-space {
    z-index: calc(var(--z-layer-board) + 1);
}

.space.ur-legal-move-space.ur-occupied::after {
    filter: invert(75%) blur(5px);
}

.space.ur-legal-move-space::after,
.finishArea.ur-legal-move-space::after {
    content: url("/images/piece0.svg");
    position: absolute;
    filter: blur(5px);
    height: 60px;
    width: 60px;
    opacity: 0.85;
    z-index: calc(var(--z-layer-pieces) + 2);
}


.space.ur-move-candidate {
    box-shadow: inset 0 0 20px #000;
    z-index: calc(var(--z-layer-pieces) - 2);
}

.space.ur-move-candidate.p1 {
    background-color: var(--color-p1-light);
}

.space.ur-move-candidate.p2 {
    background-color: var(--color-p2-light);
}

.space.ur-move-candidate.middle {
    background-color: var(--color-mid-move-candidate);
}
