:root {
    --color-p1: #2E51A2;	/* Main Primary color */
    --color-p1-lighter: #708BC8;
    --color-p1-light: #4968AF;
    --color-p1-dark: #173A8B;
    --color-p1-darker: #0C2A6E;

    --color-rosette: #E22D4E;	/* Main Secondary color (1) */
    --color-rosette-lighter: #F57C91;
    --color-rosette-light: #F0536F;
    --color-rosette-dark: #C30D2D;
    --color-rosette-darker: #9A011C;

    --color-other: #5BD02A;	/* Main Secondary color (2) */
    --color-other-lighter: #98E875;
    --color-other-light: #78DD4C;
    --color-other-dark: #3EB30C;
    --color-other-darker: #2B8D01;

    --color-p2: #F1B130;	/* Main Complement color */
    --color-p2-lighter: #FFD581;
    --color-p2-light: #FFC758;
    --color-p2-dark: #D08F0E;
    --color-p2-darker: #A46E01;

    --color-mid-lane: rgb(127,127,127);
    --color-mid-move-candidate: rgb(96, 96, 96);
    --space-border-color: rgb(0,0,0);
    --space-border-width: 7px;

    --pos-space-left-p1: 25;

    --space-width: 93px;
    --space-height: 93px;

    --space-total-height: calc(var(--space-height) + var(--space-border-width));

    --row1-top: 0px;
    --row2-top: calc(var(--row1-top) + var(--space-total-height));
    --row3-top: calc(var(--row1-top) + (2 * var(--space-total-height)));
    --row4-top: calc(var(--row1-top) + (3 * var(--space-total-height)));
    --row5-top: calc(var(--row1-top) + (4 * var(--space-total-height)));
    --row6-top: calc(var(--row1-top) + (5 * var(--space-total-height)));
    --row7-top: calc(var(--row1-top) + (6 * var(--space-total-height)));
    --row8-top: calc(var(--row1-top) + (7 * var(--space-total-height)));

    --col1-left: 0px;
    --col2-left: calc(var(--col1-left) + var(--space-total-height));
    --col3-left: calc(var(--col1-left) + (2 * var(--space-total-height)));

    --board-width: calc((3 * var(--space-total-height)) + var(--space-border-width));
    --board-height: calc((8 * var(--space-total-height)) + var(--space-border-width));

    --board-horiz-padding: 50px;

    --startarea-top: var(--row4-top);
    --startarea-left: calc(var(--board-horiz-padding) + var(--space-border-width) + 4px);
    
    --finisharea-top: var(--row7-top);
    --finisharea-left: var(--startarea-left);

    --z-layer-board: 5;
    --z-layer-pieces: calc(var(--z-layer-board) + 5); /* should always be on top */
    --z-layer-under-board: calc(var(--z-layer-board) - 5);
}

.p1 .piece {
    fill: var(--color-p1-darker);
    stroke-width: 1;
    stroke: black;
}
.p2 .piece {
    fill: var(--color-p2-darker);
    stroke-width: 1;
    stroke: black;
}
.piece .pip {
    fill: white;
}
.die .pip {
    fill: white;
    stroke: none;
}
.die .sides {
    stroke: darkgray;
    fill: black;
    stroke-width: 0.5;
}
.dieHolder .r120 {
    transform: rotate(120deg);
}
.dieHolder .r240 {
    transform: rotate(240deg);
}

html {
    background-color: whitesmoke;
}

body {
    margin: 25px;
    text-align: center;
}

body > div {
    background-color: lightgray;
    width: max-content;
    border: 2px solid black;
    margin: 0 auto;
    padding: 10px 50px;
}

h1 {
    text-align: center;
}

#titleArea {
    text-align: center;
}

#turnIndiator.p1 {
    color: var(--color-p1-dark);
}

#turnIndiator.p2 {
    color: var(--color-p2-dark);
}

#turnIndiator {
    text-align: center;
}

#boardContainer {
    padding: 0 var(--board-horiz-padding);
    z-index: var(--z-layer-board);
}

#board {
    width: var(--board-width);
    height: var(--board-height);
    position: relative;
    z-index: var(--z-layer-board);
}

#board div.space {
    width: var(--space-width);
    height: var(--space-height);
    border: var(--space-border-width) var(--space-border-color) solid;
    background-color: var(--color-mid-lane);
    position: absolute;
}

#board div.space.r1 {
    top: var(--row1-top);
}
#board div.space.r2 {
    top: var(--row2-top);
}
#board div.space.r3 {
    top: var(--row3-top);
}
#board div.space.r4 {
    top: var(--row4-top);
}
#board div.space.r5 {
    top: var(--row5-top);
}
#board div.space.r6 {
    top: var(--row6-top);
}
#board div.space.r7 {
    top: var(--row7-top);
}
#board div.space.r8 {
    top: var(--row8-top);
}

#board div.space.p1 {
    background-color: var(--color-p1-lighter);
    left: var(--col1-left);
}
#board div.space.middle {
    left: var(--col2-left);
}
#board div.space.p2 {
    background-color: var(--color-p2-lighter);
    left: var(--col3-left);
}

#board div.space.rosette {
    background-image: url('/images/rosette.png');
    background-repeat: no-repeat;
    background-position: center;
}

#gameArea {
    text-align: center;
    position: relative;
    padding: 50px 0 0 0;
    height: max-content;
}

#gameArea > div {
    display: inline-block;
}

.playerArea {
    vertical-align: top;
    position: relative;
    height: var(--board-height);
    width: calc(var(--space-total-height) + var(--space-border-width));
    z-index: var(--z-layer-bottom);
}

.startingArea {
    width: var(--space-width);
    height: var(--space-height);
    border: var(--space-border-width) groove;
    position: absolute;
    top: var(--startarea-top);
}
.startingArea.p1 {
    border-color: var(--color-p1);
    left: var(--startarea-left);
}
.startingArea.p2 {
    border-color: var(--color-p2);
    left: calc(-1 * var(--startarea-left));
}
.finishArea {
    position: absolute;
    width: var(--space-width);
    height: var(--space-height);
    border: var(--space-border-width) inset;
    top: var(--finisharea-top);
}
.finishArea.p1 {
    border-color: var(--color-p1-lighter);
    left: var(--startarea-left);
}
.finishArea.p2 {
    border-color: var(--color-p2-lighter);
    left: calc(-1 * var(--startarea-left));
}
/* Pieces divs */
.startingArea > div {
    position: absolute;
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0;
}

.pieceHolder {
    z-index: var(--z-layer-pieces);
}
.pieceHolder.ui-draggable-dragging { /* keep active piece on top */
    z-index: calc(var(--z-layer-pieces) + 5);
}

#userArea {
    text-align: center;
    margin: 10px;
}
#userArea > div {
    padding: 10px;
}
#diceCup > div {
    display: inline-block;
}

#board .ur-piece-hover {
    box-shadow: inset 0 0 5px 5px #f0f !important;
    z-index: calc(var(--z-layer-board) - 1); /* just under the space; TODO is this needed? */
}

.ur-legal-move-hover {
    box-shadow: inset 0 0 20px #000;
    z-index: calc(var(--z-layer-board) + 1);
}

#board .space.ur-move-candidate {
    box-shadow: inset 0 0 20px #000;
    z-index: calc(var(--z-layer-pieces) - 2);
}

#board .space.ur-move-candidate.p1 {
    background-color: var(--color-p1-light);
}

#board .space.ur-move-candidate.p2 {
    background-color: var(--color-p2-light);
}

#board .space.ur-move-candidate.middle {
    background-color: var(--color-mid-move-candidate);
}

/* TODO style for pieces on player's turn: with/without moves */