#diceControls {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    width: 50%;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    margin-bottom: 15px;
}