.PageContainer {
  width: 95%;
  height: 95%;
  margin: auto;
}

.AppContainer {
  display:flex;
  flex-direction: column;
  width: 75%;
  min-width: 800px;
  max-width: 1600px;
  height: 95%;
  min-height: 800px;
  max-height: 1600px;
  margin: 50px auto;
  background-color: beige;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}


