* {
  box-sizing: border-box;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 100vw;

  min-height: 100dvh;

  margin: 0 auto;
  text-align: center;
}

#game-container {
  --target-height: 100dvh;
  --padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: calc(var(--target-height) - 2 * var(--padding));

  padding: var(--padding);
}

.card {
  padding: 2em;
}

